@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #006aff;
}
*{
    margin: 0;
    padding: 0;
    font-family:  "Poppins", sans-serif;
}
.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(83, 75, 75, 0.61),rgba(54, 49, 49, 0.603)),url("bg.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 70px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,50%);
}
.text-box h1{
    font-size: 62px;
    color: #d1dbd6bb;
}
.about{
  background: #fff8f88e;
  overflow: hidden;
}

.head h1{
   color: #0f1016;
   font-size: 40px;
   padding-left: 100px;
   margin-top: 45px;
}
.container{
  transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 40px auto; 
}
.cont{
  flex: 1;
  width: 600px;
  margin: 0px 25px;
}
.cont h2{
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #000000be;
}
.cont p{
  padding-left: 10px;
  font-size: 15px;
  line-height: 1.5;

}
.cont a{
  display: inline-block;
  background: #0f1016;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 20px;
}
.cont a:hover{
  background-color: #006aff;
  transform: scale(1.1);
}
.him{
  flex: 1;
  width: 600px;
  margin: auto;
}
img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
}
html{
  font-size: 12pt;
  font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}
nav{
    flex: 1;
  height: 60px;
  background-color: #163f2c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 750px;
}
nav a{
  height: 100%;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav svg{
  fill: var(--text-color);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}


.im{
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box{
  width: 250px;
  margin: 0px 20px;
  box-shadow: 0 0 20px 20px 2px rgba(0,0,0, .1);
  transition: 1s;
}


.box img{
  display: block;
  width: 100%;
  border-radius: 5px;
}

.box:hover{
   transform: scale(1.3);
   z-index: 2;
}


.footer{
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons.fa{
  color: #163f2c;
  margin: 0 12px;
  cursor: pointer;
  padding: 18px 0;
}

.bn{
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      border: 1px solid #000000;
      padding: 12px 34px;
      font-size: 15px;
      background: #000;
      position: relative;
      transition:  0.5s;
  } 
  .bn:hover{
    border: 1px solid #fff;
    background: #03301b;
    color: #fff;
  }






@media screen and (max-width: 750px){
   
  .im{
    flex-direction: column;
    width: 70%;
  }
  .box img{
    padding-top: 30px;
    justify-content: space-around;
    width: 400px;
    padding-left: 50px;
  }

   .header{
    min-height: 50vh;
   }

    .container{
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;
    }
    .cont{
      width: 100%;
      margin: 25px 0px;
    }
    .him{
      margin-left: 50px;
    }

    .head h1{
      font-size: 30px;
    }
    .cont h2{
      font-size: 30px;
    }

   .text-box{
    top: 20%;
   }
   .text-box h1{
    font-size: 54px;
   }
   .logo{
    margin-right: 54px;
  }  
  .links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: #163f2c;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
  }
  #sidebar-active:checked ~ .links-container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .footer h4{
    font-size: 15px;
  }
  .footer{
    padding: 10px 0;
  }
  
}


